<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Flask Website1</title>
</head>
<body>
    <!-- Navbar -->
    <div class="Nav_container">
        <nav class="header-nav-bar">
            <div>
                <a href="{{ url_for('site.home') }}">
                    <img src="../static/images/GBWC2020_thumb.png" alt="Logo">
                </a>
            </div>
            <div>
                <ul id="navigation-list">
                    </a>
                    <a href="https://www.youtube.com/">
                        <li>
                            More Information
                        </li>
                    </a>
                    <a href="https://www.bandainamcoent.com/">
                        <li>
                            Bandai Shop
                        </li>
                    </a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}">
                            <li>
                                Log Out
                            </li>
                        </a>
                        <a href="{{ url_for('site.profile') }}">
                            <li>
                                Profile
                            </li>
                        </a>
                    {% else %}
                        <a href="{{ url_for('auth.signin') }}">
                            <li>
                                Sign in
                            </li>
                        </a>
                        <a href="{{ url_for('auth.signup') }}">
                            <li>
                                Sign Up
                            </li>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock content %}


      







<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html>