<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Flask Website1</title>
</head>
<body>
    <!-- Navbar -->
    <div class="Nav_container">
        <nav class="header-nav-bar">
            <div>
                <img src="../static/images/GBWC2020_thumb.png" alt="Logo">
            </div>
            <div>
                <ul id="navigation-list">
                    <a href="https://www.youtube.com/">
                        <li>
                            Timeline
                        </li>
                    </a>
                    <a href="https://www.youtube.com/">
                        <li>
                            More Information
                        </li>
                    </a>
                    <a href="https://www.bandainamcoent.com/">
                        <li>
                            Bandai Shop
                        </li>
                    </a>
                    <a href="https://www.youtube.com/">
                        <li>
                            Register
                        </li>
                    </a>
                    <a href="https://www.youtube.com/">
                        <li>
                            Sign Up
                        </li>
                    </a>
                </ul>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock content %}
<!--     
    <div class="movie">
        <video loop muted autoplay poster="">
            <source src="video.mp4" type="video/mp4">
        </video>
    </div> -->


      







<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html>